{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Injector</title>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    <script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/beautiful.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!--JSON-->
    <script src="{% static 'json/projectlist.json' %}"></script>
    <script src="{% static 'json/storageinfo.json' %}"></script>




</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #167251; ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color:#fff; font-weight:600;">
                <img src={% static '/img/LogoGXAI.svg'%} style="width:6em;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <button class="btn " id="back" style="display:none;" onclick="location.href='/projectlist'">
                <i style="font-size: 1.5em; color: #fff;" class="fa-solid fa-arrow-left"></i>
            </button>
        </div>
    </nav>
    <div>
        {% block content %} 
              {% comment %} base.html을 상속한 템플릿에서 구현해야 하는 영역 {% endcomment %}
        {% endblock %}
            <div>
</body>


</html>