{% load static %}
<div id="divimageview">

<link rel="stylesheet" type="text/css" href="{% static './css/magnific-popup.css' %}">
<script language="javascript" type="text/javascript" src="{% static './js/jquery-3.6.0.min.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static './js/jquery.magnific-popup.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static './js/lazysizes.js' %}" async=""></script>
<script language="javascript" type="text/javascript" src="{% static './js/raphael.min.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static './js/projectSconImage.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static './js/projectKidsSample.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static './js/projectSoccer.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static './js/search_form.js' %}"></script>



    <div style="display: flex; justify-content: space-between;">
        <div style="margin: 20px 20px 0 45px; font-size: 20px; color: #000; font-weight: bold;">
            Image Viewer
        </div>
    </div>
    <div id="container-1" style="display: grid; margin: 20px;">

        <div class="cardbg" style="background: #fff; margin: 20px; border-radius: 10px; display: none;">
            <form name="f1">
                <div class="layer_search" style="margin: 10px;">
                    <table style="width: 50%; display: inline-block;">
                        <tr>
                            <th style="width: 300px;">Storage</th>
                            <th style="width: 160px;">Type of</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <select id="StorageID" name="StorageID"
                                    onchange="OverView.changeStorageID(this.value);">
                                </select>
                            </td>
                            <td>
                                <select class="select" id="selectOption" onchange="OverView.getImage(this.value, 1);">
                                    <option value="" selected>All</option>
                                </select>
                            </td>
                            <td>
                                <a href="http://192.168.25.185:8080/projects/18?page=1" target="_blank">
                                    <input class="btnDI" align="left" type="button" value="Advanced Labeling"
                                        style="padding:10px;">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div style="width: 40%; float: right; text-align: right; margin-right: 20px;">
                        <table style="width: 30%; float: right;">
                            <tr>
                                <th>Display Rows</th>
                            </tr>
                            <tr>
                                <td>
                                    <select name="countOfPage" id="countOfPage"
                                        onchange="OverView.changeCountOfPage(this.value);">
                                        <option value='21'>21</option>
                                        <option value='28'>28</option>
                                        <option value='35'>35</option>
                                        <option value='49' selected>49</option>
                                        <option value='56'>56</option>
                                        <option value='70'>70</option>
                                        <option value='84'>84</option>
                                        <option value='91'>91</option>
                                        <option value='98'>98</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </form>
        </div>

        <div class="imageviewer"
            style="display: grid; grid-template-rows: 5% 95%; background-color:#fff; margin:0 20px; border-radius: 10px; padding: 0px;">
            <div class="layer_search" style="display: grid; grid-template-columns: 1fr 1fr; height: 60px; display: none;">
                <div style="display: flex;">
                    <div id="markLabeling" style="display: inline-block">
                    </div>
                    <div style="display: inline-block">
                        <table style=" display: none; float: left; " id="info">
                            <tr>
                                <td class="title" style="width:50px;">Title :</td>
                                <td class="title" id="mediatitle"></td>
                            </tr>
                            <tr>
                                <td class="path">Path :</td>
                                <td class="path" id="path"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="display: none;">
                    <table style="float: right; width: 400px;">
                        <tr>
                            <th style="color:#000;text-align: right; width: 200px;">
                                <span> Only Error Image</span>
                            </th>
                            <td style="color:#000;text-align: right; width: 30px;">
                                <label class="switch">
                                    <input type="checkbox" id="sshot" name="sshot" onclick="onoffError();"></input>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td style="width: 30px;">
                                <span id="toggle" style="color:#f4f4f4;">OFF</span>
                            </td>
                        </tr>
                        <tr>
                            <th style="color:#000;text-align: right;">
                                <span> Only Shot Detection Image</span>
                            </th>
                            <td style="color:#000;text-align: right;">
                                <label class="switch">
                                    <input type="checkbox" id="shot" name="shot" onclick="onoffShot();"></input>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <span id="toggle_shot" style="color:#f4f4f4;">OFF</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="divLoading">
                <table style="width: 100%;">
                    <tbody id="loading">
                    </tbody>
                </table>
            </div>
            <!--
            <div class="popup-gallery-all" id="popup-gallery"
                style="width: 100%; display: grid; grid-template-columns:repeat(7,1fr); overflow-x: auto;"></div>
            <div id="notfoundImage" style="display:none;"> No Image </div>
            <div id="paging" class="pageDiv layer_search" style="margin-top: 12px;">
            </div>
            -->
        </div>
    </div>


<style>
    div.gallery-all img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 70%;
        object-fit: contain;
    }
</style>
<script>
    var _WEBSERVER_ROOT_URL = 'http://49.50.160.122:3030/'
    var _WEBSERVER_DBIMG_URL = 'http://49.50.160.122:3000/';
    const queryString = window.location.search;
    var env_path = 'D:\\MgnSData\\Datas\\';
    var _mapFolderJson = 'keyjson/' //on server 'keyjson'
    var _dirPath = 'T:/' //local for update keyPoint Json - on server 'T:/'
    var _mapKidSample = 'kids_sample/' //same on server
    var _mapSoccer = 'soccer_kick_sample/' //same on server
    var _pathKidSampleFrom = '_JPG' //same on server
    var _pathKidSampleTo = '_JSON' //on server '_JSON'

    var _viewType = 0
    var _lineDrawWidth = 3 //Canvas Labeling
    var _activeLabeling = 0

    var _dataKeyPointsJson = "";






    var OverView = {
        _page: 1,
        init: false,
        _countOfPage: 49, //50+1
        _countOfPageOfPage: 10,
        _storageID: '',
        _mediaType: '',
        _addDateStart: '',
        _addTimeStart: '',
        _addDateEnd: '',
        _addTimeEnd: '',
        _addDateTimeStart: '',
        _addDateTimeEnd: '',
        _clicked: '',

        // get media info on click and show on page title
        getImageinfo: function (index) {

            var selected = document.getElementById("selectOption");
            var _selected = selectOption.options[selectOption.selectedIndex].value;
            var selectname = selectOption.options[selectOption.selectedIndex].text;


            var toggle = document.getElementById("sshot").checked;
            if (toggle == true) {
                _toggle = 0;
            } else if (toggle == false) {
                _toggle = 1;
            } else {
                return false;
            }
            /*
            this._addDateStart = document.getElementById('addDateStart').value;
            this._addDateEnd = document.getElementById('addDateEnd').value;
            var nowDate = Date.now();
            var today = nowDate.toISOString().split('T')[0];

            if (this._addDateStart != '' && this._addDateEnd != '') {
                this._addDateTimeStart = this._addDateStart + ' 00:00:00';
                this._addDateTimeEnd = this._addDateEnd + ' 23:59:00';
            } else
                if (this._addDateStart == '' && this._addDateEnd != '') {
                    this._addDateTimeStart = '2022-01-01 00:00:00';
                    this._addDateTimeEnd = this._addDateEnd + ' 23:59:00';
                } else
                    if (this._addDateStart != '' && this._addDateEnd == '') {
                        this._addDateTimeStart = this._addDateStart + ' 00:00:00';
                        this._addDateTimeEnd = today + ' 23:59:00';
                    } else {
                        this._addDateTimeStart = '';
                        this._addDateTimeEnd = '';
                    }
                    */
            // Ajax Call
            var params = "&StorageID=" + this._storageID +
                "&PageNum=" + this._page +
                "&CountOfPage=" + this._countOfPage +
                "&ErrorType=" + _selected +
                "&SShot=" + _toggle;
            //"&AddDateStart=" + encodeURIComponent(this._addDateTimeStart) +
            //"&AddDateEnd=" + encodeURIComponent(this._addDateTimeEnd);
            var url = _WEBSERVER_ROOT_URL + 'Report/DetectionImageView/All';

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var rs = JSON.parse(this.responseText);
                    console.log(rs)
                    jQuery(".title").show();
                    jQuery(".path").show();
                    document.getElementById("path").innerHTML = rs.errorinfo[index].mediapath;
                    document.getElementById("mediatitle").innerHTML = rs.errorinfo[index].mediatitle;
                }
            };
            xhttp.open("GET", url + '?' + params, true);
            xhttp.send();

        },



        getImage: function (val, page) {
            //console.log(this._storageID)
            _viewType = 0
            var url = 'http://49.50.160.122:3030/StorageList';

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var rs = JSON.parse(this.responseText);
                    console.log(rs)

                    if (rs.storageinfo.length) {
                        for (var i = 0; i < rs.storageinfo.length; i++) {
                            if (this._storageID == rs.storageinfo[i].storageid) {
                                _viewType = rs.storageinfo[i].viewtype
                            }
                        }
                    }
                }
            };
            xhttp.open("GET", url + '?' + params, true);
            xhttp.send();






            showProgress();

            if (page === 1) {
                this._page = 1;
            }


            // Ajax Call 
            jQuery("#mediatitle").empty();
            jQuery("#path").empty();
            jQuery(".title").hide();
            jQuery(".path").hide();
            jQuery("#markLabeling").empty();


            var selected = document.getElementById("selectOption");
            var _selected = selectOption.options[selectOption.selectedIndex].value;
            var selectname = selectOption.options[selectOption.selectedIndex].text;
            var dotsz = 8;

            var toggle = document.getElementById("sshot").checked;
            if (toggle == true) {
                _toggle = 0;
            } else if (toggle == false) {
                _toggle = 1;
            } else {
                return false;
            }

            if (_selected == '0x80000000') { //shot을 누름
                document.getElementById("toggle_shot").innerHTML = 'ON';
                document.getElementById("shot").checked = true;
                document.getElementById("sshot").checked = false;
                document.getElementById("toggle").innerHTML = 'OFF';
                _toggle = 1
            } else {
                document.getElementById("shot").checked = false;
                document.getElementById("toggle_shot").innerHTML = 'OFF';
            }

            if (_selected != '0x80000000' && _selected != '') { //error선택
                document.getElementById("sshot").checked = true;
                document.getElementById("toggle").innerHTML = 'ON';
            }
            /*
            this._addDateStart = document.getElementById('addDateStart').value;
            this._addDateEnd = document.getElementById('addDateEnd').value;
            var nowDate = Date.now();
            var today = nowDate.toISOString().split('T')[0];

            if (this._addDateStart != '' && this._addDateEnd != '') {
                this._addDateTimeStart = this._addDateStart + ' 00:00:00';
                this._addDateTimeEnd = this._addDateEnd + ' 23:59:00';
            } else
                if (this._addDateStart == '' && this._addDateEnd != '') {
                    this._addDateTimeStart = '2022-01-01 00:00:00';
                    this._addDateTimeEnd = this._addDateEnd + ' 23:59:00';
                } else
                    if (this._addDateStart != '' && this._addDateEnd == '') {
                        this._addDateTimeStart = this._addDateStart + ' 00:00:00';
                        this._addDateTimeEnd = today + ' 23:59:00';
                    } else {
                        this._addDateTimeStart = '';
                        this._addDateTimeEnd = '';
                    }*/

            var params = "&StorageID=" + this._storageID +
                "&PageNum=" + this._page +
                "&CountOfPage=" + this._countOfPage +
                "&ErrorType=" + _selected +
                "&SShot=" + _toggle;
            //"&AddDateStart=" + encodeURIComponent(this._addDateTimeStart) +
            //"&AddDateEnd=" + encodeURIComponent(this._addDateTimeEnd);
            var url = 'http://49.50.160.122:3030/Report/DetectionImageView/All';

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("divLoading").innerHTML = '';
                    document.getElementById("divLoading").innerHTML =
                        '<div class="popup-gallery-all" id="popup-gallery"style="width: 100%; display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fill,minmax(200px,1fr));"></div><div id="notfoundImage" style="display:none;"> No Image </div><div id="paging" class="pageDiv layer_search" style="margin-top: 12px;"></div>'
                    var rs = JSON.parse(this.responseText);
                    console.log(url + '?' + params);
                    //console.log(rs)
                    var totalPageCount = Table.getPageCount(rs.totalerrorcount, OverView._countOfPage);
                    $('paging').innerHTML = Table.writePagging2(OverView._page, totalPageCount, OverView
                        ._countOfPageOfPage, 'OverView.goPage');
                    if (rs.errorinfo.length) {
                        OverView.printGallery(rs)
                    } else {
                        OverView.printNoData()
                    }
                    document.getElementById("popup-gallery").scrollTop = 0;
                }
            };
            xhttp.open("GET", url + '?' + params, true);
            xhttp.send();

        },

        printGallery: function (rs) {
            console.log(rs)
            //switchViewType show project labeling icon on gallery
            switch (_viewType) {
                case 1:
                    mediaJpgToJson = _WEBSERVER_DBIMG_URL + _mapFolderJson + rs.errorinfo[0].mediapath + '/' +
                        rs.errorinfo[0].mediatitle.replace('.jpg', '.json');
                    readTextFile(mediaJpgToJson, function (text) {
                        //console.log(mediaJpgToJson)
                        if (text == null) {
                            console.log('json null')
                        } else {
                            document.getElementById('markLabeling').innerHTML =
                                '<a href="#" style="float: left; margin-right:10px; padding: 10px; cursor: default;"><i class="bx bx-shape-square bx-md"></i></a>'
                        }
                    })

                    break
                case 2:
                    var mediaJpgToJson = _WEBSERVER_DBIMG_URL + _mapKidSample + rs.errorinfo[0].mediapath
                        .replace(_pathKidSampleFrom, _pathKidSampleTo) + rs.errorinfo[0].mediatitle.replace(
                            '.jpg', '.json')
                    console.log(mediaJpgToJson)
                    readTextFile(mediaJpgToJson, function (text) {
                        //console.log(mediaJpgToJson)
                        if (text == null) {
                            console.log('json null')
                        } else {
                            document.getElementById('markLabeling').innerHTML =
                                '<a href="#" style="float: left; margin-right:10px; padding: 10px; cursor: default;"><i class="bx bx-shape-square bx-md"></i></a>'
                        }
                    })
                    break
                case 3:
                    var mediaJpgToJson = _WEBSERVER_DBIMG_URL + _mapSoccer + rs.errorinfo[0].mediapath + rs
                        .errorinfo[0].mediatitle.replace('.jpg', '.json')
                    console.log(mediaJpgToJson)
                    readTextFile(mediaJpgToJson, function (text) {
                        //console.log(mediaJpgToJson)
                        if (text == null) {
                            console.log('json null')
                        } else {
                            document.getElementById('markLabeling').innerHTML =
                                '<a href="#" style="float: left; margin-right:10px; padding: 10px; cursor: default;"><i class="bx bx-shape-square bx-md"></i></a>'
                        }
                    })
                    break
                    //switch end
            }




            jQuery(document).ready(function ($) {

                $('.popup-gallery-all').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    closeOnContentClick: false,
                    closeBtnInside: false,
                    tLoading: 'Loading image #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0, 1]
                    },
                    image: {

                        markup: '<div class="mfp-figure">' +
                            '<div class="mfp-img" style="width: 70%;"></div>' +
                            '<canvas id="back" style="position: absolute; left: 50%; top: 40px; transform: translate(-50%, 0); display:none;"></canvas>' +
                            '<div class="mfp-bottom-bar" style="text-align:center;">' +
                            '<div class="mfp-title"></div>' +
                            '<div id="original"></div>' +
                            '<div id="plusdotsz"></div>' +
                            //'<div id="done"></div>' +
                            '<div id="copyMediaPath"></div>' +
                            '<div id="mediaAction"></div>' +
                            '<div id="saveOnClipboard"></div>' +
                            '<div class="mfp-counter"></div></div></div>',
                        titleSrc: function (item) {
                            // console.log(rs.errorinfo[item.index])
                            var data = rs.errorinfo[item.index];
                            //동적으로 url을 만들어준다. (2022.6.29 by.misun) 임시 주석 처리
                            var parameter1 = data.storageipaddress + "/" + data
                                .storagename + data.mediapath + data.mediatitle;
                            var parameter2 = data.storageipaddress + "/" + data
                                .storagename + data.mediapath;
                            var _mediaT = data.mediapath;
                            parameter1 = parameter1.replace(/\\/ig, "/");
                            parameter2 = parameter2.replace(/\\/ig, "/");

                            //switchViewType Labeling button, bold, and file path
                            switch (_viewType) {
                                case 1:
                                    var mediaJpgToJson = _WEBSERVER_DBIMG_URL +
                                        _mapFolderJson + data.mediapath + '/' + data
                                        .mediatitle.replace('.jpg', '.json');
                                    console.log(mediaJpgToJson)
                                    break
                                case 2:
                                    var mediaJpgToJson = _WEBSERVER_DBIMG_URL +
                                        _mapKidSample + data.mediapath.replace('_JPG',
                                            '_JSON') + '/' + data.mediatitle.replace('.jpg',
                                            '.json')
                                    console.log(mediaJpgToJson)
                                    break
                                case 3:
                                    var mediaJpgToJson = _WEBSERVER_DBIMG_URL + _mapSoccer +
                                        data.mediapath + data.mediatitle.replace('.jpg',
                                            '.json')
                                    console.log(mediaJpgToJson)
                                    break
                            }



                            if (_viewType == 0) {
                                //document.getElementById('original').innerHTML = '';
                                //document.getElementById('plusdotsz').innerHTML = '';
                                //document.getElementById('copyMediaPath').innerHTML = '';
                            } else {
                                readTextFile(mediaJpgToJson, function (text) {
                                    if (text == null) {
                                        document.getElementById('original')
                                            .innerHTML = '';
                                        document.getElementById('plusdotsz')
                                            .innerHTML = '';
                                        document.getElementById('copyMediaPath')
                                            .innerHTML = '';
                                    } else {
                                        document.getElementById('original')
                                            .innerHTML =
                                            '<a class="btn-draw" href="#" style="float: left; margin-right:10px;"><i class="bx bx-shape-square"></i></a>';
                                        document.getElementById('plusdotsz')
                                            .innerHTML =
                                            '<a class="btn-draw" href="#" style="float: left; margin-right:10px;"><i class="bx bx-bold"></i></a>';
                                        //document.getElementById('done').innerHTML = '<a href="#" class="btn-draw" style="float: left; margin-right:10px;"><i class="bx bx-edit"></i></a>';
                                        document.getElementById('copyMediaPath')
                                            .innerHTML =
                                            '<input href="#" id="copyPathClipboard" onclick="copyPath()" title="Copy to Clipboard" value=\'' +
                                            data.mediapath + data.mediatitle +
                                            '\' class="btn-draw" style="float: left; margin-right:10px; height: 12px; line-height: 10px; width:30%;"></input>'
                                        var data2json = JSON.parse(text);
                                        if (_viewType == 2) {
                                            document.getElementById('mediaAction')
                                                .innerHTML = '<input value=\'' +
                                                data2json.metaData.action_num +
                                                ', ' + data2json.metaData
                                                .action_num_code + ', ' + data2json
                                                .metaData.dev_eval +
                                                '\' class="btn-draw" style="float: left; margin-right:10px; height: 12px; line-height: 10px; width:30%;"></input>'
                                        }
                                    }
                                })
                            }




                            url = "http://localhost:1224/labeling?input=" +
                                encodeURIComponent(parameter1) + "&output=" +
                                encodeURIComponent(parameter2);
                            // http://127.0.0.1:1224/labeling?input=10.250.53.94/n2690722_GazziLabs/scon/image/20220624/HICO_train2015_00000001.jpg&output=10.250.53.94/n2690722_GazziLabs/scon/image/20220624/
                            return '<a href="#" class="btn-draw urlmaker" id="urlmaker" style="display: none; float: left; margin-right:10px;"onclick=\'urlparse("' +
                                url +
                                '")\' ><i class="bx bxs-purchase-tag" ></i></a><input type="text" id="_fileName" value=\'' +
                                data.mediatitle +
                                '\' style="display: none;"><input type="text" id="_filepath" value=\'' +
                                data.mediapath + '\' style="display: none;">';
                        }
                    },
                    /*
                                                zoom: {
                                                    enabled: true,
                                                    duration: 300, // don't foget to change the duration also in CSS
                                                    opener: function (element) {
                                                        return element.find('img');
                                                    }
                                                },*/
                    callbacks: {
                        open: function zoom(params) {

                            jQuery('#original').click(function () {
                                if ($("#back").css("display") == "none") {
                                    _activeLabeling = 1

                                    jQuery('#back').show();
                                    getFileName()

                                } else {
                                    _activeLabeling = 0
                                    jQuery('#back').hide();
                                }
                            });

                            jQuery('#plusdotsz').click(function () {
                                if (_lineDrawWidth == 3) {
                                    _lineDrawWidth = 6
                                    getFileName()
                                } else {
                                    _lineDrawWidth = 3
                                    getFileName()
                                }
                            });

                            // Draw Canvas Skeleton
                            const cv = document.getElementById("back");
                            const szimg = document.getElementsByClassName("mfp-img")
                            console.log(szimg)
                            console.log(szimg[0].width)
                            console.log(szimg[0].height)

                            var canvas = document.getElementById("back");
                            var context = canvas.getContext("2d");

                            canvas.width = szimg[0].width;
                            canvas.height = szimg[0].height;
                            var cw = canvas.width;
                            var ch = canvas.height;
                            var mouse = {};
                            var draggable = false;

                            var coordinates = [];


                            canvas.addEventListener("mousedown", function (e) {
                                handleMouseDown(e);
                            });


                            //
                            function handleMouseDown(e) {
                                var canvas = document.getElementById("back");
                                var ctx = canvas.getContext("2d");
                                var canvasOffset = $("#canvas").offset();
                                //console.log(canvasOffset)
                                function reOffset() {
                                    var BB = canvas.getBoundingClientRect();
                                    offsetX = BB.left;
                                    offsetY = BB.top;
                                }
                                var offsetX, offsetY;
                                reOffset();

                                mouseX = parseInt(e.clientX - offsetX);
                                mouseY = parseInt(e.clientY - offsetY);

                                // Put your mousedown stuff here
                                var clicked = "";
                                for (var i = 0; i < rects.length; i++) {
                                    if (rects[i].isPointInside(mouseX, mouseY)) {
                                        clicked += rects[i].id + " "
                                    }
                                }
                                if (clicked.length > 0) {
                                    console.log(_dataKeyPointsJson)
                                    confirmPop_up(clicked)
                                    //alert("Clicked rectangles: " + clicked);
                                }
                            }


                            //
                            function handleMouseMove(e) {
                                var canvas = document.getElementById("back");
                                var ctx = canvas.getContext("2d");
                                var canvasOffset = $("#canvas").offset();

                                function reOffset() {
                                    var BB = canvas.getBoundingClientRect();
                                    offsetX = BB.left;
                                    offsetY = BB.top;
                                }
                                var offsetX, offsetY;
                                reOffset();
                                //console.log(canvasOffset)
                                //var offsetX = canvasOffset.left;
                                //var offsetY = canvasOffset.top;
                                mouseX = parseInt(e.clientX - offsetX);
                                mouseY = parseInt(e.clientY - offsetY);

                                // Put your mousemove stuff here
                                //ctx.clearRect(0, 0, canvas.width, canvas.height);
                                for (var i = 0; i < _bboxList.length; i++) {
                                    if (rects[i].isPointInside(mouseX, mouseY)) {
                                        rects[i].highlight();
                                    } else {
                                        rects[i].redraw();
                                    }
                                }
                            }

                            // a function to detect the mouse position
                            function oMousePos(canvas, evt) {
                                var canvas = document.getElementById("back");
                                var context = canvas.getContext("2d");
                                var ClientRect = canvas.getBoundingClientRect();
                                return {
                                    //objeto
                                    x: Math.round(evt.clientX - ClientRect.left),
                                    y: Math.round(evt.clientY - ClientRect.top)
                                };
                                console.log(ClientRect)
                            }
                        }
                    }
                });

                if (rs.totalerrorcount > 0) { //이미지가 있을 때
                    $("#paging").show();
                    $("#notfoundImage").hide();
                    $("#popup-gallery").show();
                    $("#popup-gallery").empty();

                    var imagePathList = [];
                    for (i = 0; i < rs.errorinfo.length - 1; i++) {
                        //switchViewType get gallery images path
                        switch (_viewType) {
                            case 0:
                                var imagepath = rs.errorinfo[i].thumbnailpath;
                                imagepath = imagepath.replace(env_path,
                                    _WEBSERVER_DBIMG_URL + 'errorimages/');
                                imagepath = imagepath.replace('Thumb_', '');
                                imagePathList.push(imagepath);
                                break
                            case 1:
                                var mediaJpgPath = _WEBSERVER_DBIMG_URL + _mapFolderJson +
                                    encodeURIComponent(rs.errorinfo[i].mediapath) + '/' + rs.errorinfo[
                                        i].mediatitle;
                                imagePathList.push(mediaJpgPath);
                                break
                            case 2:
                                var mediaJpgPath = _WEBSERVER_DBIMG_URL + _mapKidSample +
                                    encodeURIComponent(rs.errorinfo[i].mediapath.replace('.JPG',
                                        '_JPG')) + rs.errorinfo[i].mediatitle
                                imagePathList.push(mediaJpgPath);
                                break
                            case 3:
                                var mediaJpgPath = _WEBSERVER_DBIMG_URL + _mapSoccer +
                                    encodeURIComponent(rs.errorinfo[i].mediapath) + rs.errorinfo[i]
                                    .mediatitle
                                imagePathList.push(mediaJpgPath);
                                break
                        }
                    }




                    for (i = 0; i < imagePathList.length; i++) {
                        const time = timechange(rs.errorinfo[i].time);

                        var ap =
                            '<div class = "gallery-all" style="position: relative;"><a href = "' +
                            imagePathList[i] +
                            '" ><img data-srcset = "' + imagePathList[i] +
                            '"class="lazyload"> </a><div class="desc">Time : ' +
                            time +
                            '<br>Frame : ' + String(rs.errorinfo[i]
                                .framenumber) +
                            '<br>Type : ' + rs.errorinfo[i].errorname +
                            '</div ></div>';
                        $("#popup-gallery").append(ap);
                    }


                } else { //이미지가 없을 때
                    $("#paging").hide();
                    $("#popup-gallery").hide();
                    $("#notfoundImage").show();
                }
            });
        },


        printNoData: function () {
            Table.addNoDataRow(OverView._tableId, _Lan.nodata);
        },

        printErrorNumber: function (state, value, suffix) {
            if (typeof suffix == 'undefined') {
                suffix = '';
            }
            var result = '-';
            if (state > 1) {
                result = (value) + suffix;
            }
            return result;
        },

        changeCountOfPage: function (val) {
            this._countOfPage = val;
            this.goPage(1);
        },

        changeMediaState: function (val) {
            this._mediaState = val;
            this.goPage(1);
        },

        changeMediaType: function (val) {
            this._mediaType = val;
            this.goPage(1);
        },

        changeMediaErrorType: function (val) {
            this._mediaErrorType = val;
            this.goPage(1);
        },

        changeStorageID: function (val) {
            _storageID = val;
            this.goPage(1);
        },

        valDateStart: function (date) {
            //console.log('StartDate= ' + date);
            var nowDate = Date.now();
            var today = nowDate.toISOString().split('T')[0];
            if (date == '') {
                document.getElementById("addDateStart").value = '';
            } else if (date > today) {
                errorPop_up("Start date Cannot Be Greater Than Today's Date");
                document.getElementById("addDateStart").value = '';
            } else {
                OverView._addDateStart = date;
                document.getElementById("addDateEnd").value = today;
                OverView.getImage();
            }
        },

        valDateEnd: function (date) {
            //console.log('EndDate= ' + date)
            var nowDate = Date.now();
            var today = nowDate.toISOString().split('T')[0];
            if (date == '') {
                document.getElementById("addDateEnd").value = '';
            } else if (date > today) {
                errorPop_up("End date Cannot Be Greater Than Today's Date");
                document.getElementById('addDateEnd').value = '';
            } else if (date < document.getElementById("addDateStart").value) {
                errorPop_up("Start date Cannot Be Greater Than End Date");
                document.getElementById('addDateEnd').value = '';
            } else {
                OverView._addDateEnd = date;
                OverView.getImage();
            }
        },

        goPage: function (page) {
            this._page = page;
            //this._mediaState = document.getElementById("MediaState").value;
            this._storageID = document.getElementById("StorageID").value;
            this.getImage(this._storageID);
        }
    }

    function urlparse(url) {
        alert(url);
        new Ajax.Request(url, {
            method: "GET",
            onSuccess: function (result) {
                alert(result)
            },
            onFailure: function (xmlHttp) {
                alert(_Lan.error);
            }
        });
    }

    function getUrlParams() {
        var params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (str, key, value) {
                params[key] = value;
            }
        );
        return params;
    }



    //Get File Name, path for draw Canvas and decide view type
    function getFileName() {

        rects = []
        var canvas = document.getElementById("back");
        var context = canvas.getContext("2d");
        var cw = canvas.width;
        var ch = canvas.height;
        context.clearRect(0, 0, cw, ch);

        //get Media Name change to Json and Call Format List Function
        var _fileName = document.getElementById('_fileName').value;
        var _filepath = document.getElementById('_filepath').value;

        //switchViewType draw keypoints
        switch (_viewType) {
            case 1:
                var mediaJpgToJson = _WEBSERVER_DBIMG_URL + _mapFolderJson + _filepath + '/' + _fileName.replace('.jpg',
                    '.json');
                readTextFile(mediaJpgToJson, function (text) {
                    if (text == null) {
                        console.log('json null')
                    } else {
                        var data2 = JSON.parse(text);
                        _dataKeyPointsJson = data2;
                        formatJsonDataSconImage(_dataKeyPointsJson) // projectSconImage.js
                    }
                })

                break
            case 2:
                var mediaJpgToJson = _WEBSERVER_DBIMG_URL + _mapKidSample + _filepath.replace('_JPG', '_JSON') +
                    _fileName.replace('.jpg', '.json')
                readTextFile(mediaJpgToJson, function (text) {
                    if (text == null) {
                        console.log('json null')
                    } else {
                        var data2 = JSON.parse(text);
                        _dataKeyPointsJson = data2;
                        formatJsonDataKidsSample(_dataKeyPointsJson) // projectKidsSample.js
                    }
                })
                break
            case 3:
                var mediaJpgToJson = _WEBSERVER_DBIMG_URL + _mapSoccer + _filepath + _fileName.replace('.jpg', '.json')
                readTextFile(mediaJpgToJson, function (text) {
                    if (text == null) {
                        console.log('json null')
                    } else {
                        var data2 = JSON.parse(text);
                        _dataKeyPointsJson = data2;
                        formatJsonDataSoccer(_dataKeyPointsJson) // projectKidsSample.js
                    }
                })
                break
                //switch end
        }
        //getFileName
    }


    function showProgress() {
        document.getElementById("divLoading").innerHTML = '';
        document.getElementById("divLoading").innerHTML =
            '<table style="width: 100%;"><tbody id="loading"></tbody></table>';

        var tr = document.createElement('TR');

        th = document.createElement('TD');
        th.setAttribute('align', 'center');
        th.setAttribute('height', '450');
        th.setAttribute('colSpan', '12');
        th.innerHTML =
            '<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>';
        th.className = '';
        tr.appendChild(th);

        document.getElementById("loading").appendChild(tr);
    }


    function timechange(duration) {
        var seconds = Math.floor(duration % 60),
            minutes = Math.floor((duration / 60) % 60),
            hours = Math.floor((duration / (60 * 60)) % 24);
        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;
        return hours + ":" + minutes + ":" + seconds;
    }



    function SelectBoxOptionAdd(obj, value, text) {
        var new_option = document.createElement('option');
        new_option.value = value;
        new_option.text = text;
        new_option.checked = true;
        obj.options.add(new_option);
    }





    //On Page Load
    var getpara = getUrlParams();
    if (getpara.StorageID > 0) {
        OverView._storageID = getpara.StorageID;
    }
    OverView._mediaType = '';

    _SearchForm.getErrorInfo();
    _SearchForm.setMediaType('MediaType', OverView._mediaType);
    _SearchForm.setStorageID('StorageID', OverView._storageID);
    OverView.getImage();
</script>
</div>
